.diagonales {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
  overflow: hidden;
}

.diagonales__line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--stroke-base-width, 0.3vw) * 0.5 * var(--stroke-factor-diagonal-normal, 1));
  min-width: 1px;
  height: 300dvh;
  opacity: 1;
  transform-style: preserve-3d;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(var(--diagonal-angle, 0deg));
  
  &--fixed {
    position: absolute;
    top: 50%;
    left: 50%;
    height: calc(var(--stroke-base-width, 0.3vw) * 0.5 * var(--stroke-factor-diagonal-fixed, 1));
    min-height: 1px;
    opacity: 1;
    z-index: 11;
    mask-image: linear-gradient(
      to right,
      black 0%,
      black 45%,
      transparent 50%,
      black 55%,
      black 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      black 0%,
      black 45%,
      transparent 50%,
      black 55%,
      black 100%
    );
    transform-origin: center center;
  }
  will-change: transform, background, opacity, box-shadow;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  
  transition: 
    background 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease,
    filter 0.3s ease;
  
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 5%,
    black 45%,
    transparent 50%,
    black 55%,
    black 95%,
    transparent 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 5%,
    black 45%,
    transparent 50%,
    black 55%,
    black 95%,
    transparent 100%
  );
  
  filter: brightness(1.5) saturate(1.5);
}
